
/*Puesta en cero de valores por defecto de la pagina*/
*{
    padding: 0px;
    margin: 0px;
}
/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #4d296e;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #41073e;
        padding: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #c9bbbbec;
    }
}

/*Editado de la seccion proveedores*/

.proveedores-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: blue;
}

.proveedores-main .add-prov {
    background-color: lightblue;
    padding: 20px;
}
.proveedores-main .add-prov .proveedores-datos {
        display: grid;
        grid-template-columns: 1fr 1fr;

}

/*Agregar Datos Adicionales*/

.proveedores-main .add-prov .proveedores-contacto { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#obs-prov {
    resize: none;
    grid-area: textbox;
}

.proveedores-main .prov-datos-ad .subir-datos{
    grid-area: subir;
}

.proveedores-main .prov-datos-ad .cancelar{
    grid-area: cancelar;
}

.proveedores-main .prov-datos-ad{
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'label . . '
    'textbox textbox subir'
    'textbox textbox  .'
    'textbox textbox  cancelar'
    ;
}

/*Pestaña de visualizacion de Proveedores*/

.proveedores-main .ver-proveedores{
    padding: 20px;
    background-color: rgb(100, 100, 172);
    display: flex;
    flex-direction: column; 
}

.ver-proveedores .form-lista-prov{
    display: grid;
    grid-row: 1fr 1fr;
    border: 1px solid;
    margin: 5px;
    padding: 10px;

}

.ver-proveedores .form-lista-prov .boton-busqueda {
        display: flex;
        justify-content: space-between;
}

.ver-proveedores .lista-proveedores{
    border: 1px solid;
    margin: 5px;
    padding: 10px;


}
.ver-proveedores .encabezado-tabla{
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}


/*Detallado de la pestaña de Clientes
Agregado de un Cliente Nuevo*/


.clientes-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: blue;
}

.clientes-main .add-cl {
    background-color: lightblue;
    padding: 20px;
}
.clientes-main .add-cl .clientes-datos {
        display: grid;
        grid-template-columns: 1fr 1fr;

}

.clientes-main .add-cl .clientes-contacto { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.clientes-main .ver-clientes{
    padding: 20px;
    background-color: rgb(100, 100, 172);
    display: flex;
    flex-direction: column; 
}

.clientes-main .add-cl .clientes-contacto { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#obs-cl {
    resize: none;
    grid-area: textbox;
}

.clientes-main .cl-datos-ad .subir-datos{
    grid-area: subir;
}

.clientes-main .cl-datos-ad .cancelar{
    grid-area: cancelar;
}

.clientes-main .cl-datos-ad{
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'label . . '
    'textbox textbox subir'
    'textbox textbox  .'
    'textbox textbox  cancelar'
    ;
}

/*Pestaña de visualizacion de Clientes*/



.ver-clientes .form-lista-cl{
    display: grid;
    grid-row: 1fr 1fr;
    border: 1px solid;
    margin: 5px;
    padding: 10px;

}

.ver-clientes .form-lista-cl .boton-busqueda {
        display: flex;
        justify-content: space-between;
}

.ver-clientes .lista-cl{
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}
.ver-clientes .encabezado-tabla{
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}
/*Footer*/
footer{
    background-color: rgb(40, 19, 53);
}

.contacto{
    display: flex;
    height: 70px;
    justify-content: space-evenly;
}

.contacto img{
    padding: 5px;
    width: 50px;
    height: 50px;
}

.footer-icon-hover:hover{
    transform: scale(110%);
}