
/*Puesta en cero de valores por defecto de la pagina*/
*{
    padding: 0px;
    margin: 0px;
}
/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #4d296e;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #41073e;
        padding: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #c9bbbbec;
    }
}

.wave{
    overflow: clip;
}

main{
    display: grid;
}

.cards-c{
    justify-items: center;
}

.cards-conteiner{
    height: 500px;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    padding: 50px;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}


.cards img {
    padding: 5px;
    height: 350px;
    width: 350px;
}

.cards {
    display: grid;
    background-color: rgb(40, 19, 53);
    padding: 10px;
    justify-content: space-around;
    height: 30rem;
    color: aliceblue;
}

.testimonios-cards{
    padding: 15px;
}

.testimonios-cards div {
    display: grid;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
}


.testimonios-cards div p{
    font-size: xx-large;

}

.img-testimonio { 
    object-fit: cover;
    max-width: 250px;
    max-height: 250px;
}





footer{
    background-color: rgb(40, 19, 53);
}

.contacto{
    display: flex;
    height: 70px;
    justify-content: space-evenly;
}

.contacto img{
    padding: 5px;
    width: 50px;
    height: 50px;
}

.footer-icon-hover:hover{
    transform: scale(110%);
}



.datos-personales{
    text-align: center;
}
